@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: 'Inter', serif;
}

section {
  min-height: 100vh;
  text-align: center;
}

aside {
  width: 50vw;
  height: 100vh;
  text-align: center;
}

nav {
  padding: 0 2%;
  width: 100vw;
  height: 10vh;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.5);
  z-index: 100;
  position: fixed;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

nav ul {
  /* padding-right: 5%; */
  min-width: 10vw;
  right: 0;
  float: right;
  margin: 0 5vw;
  position: absolute;
  display: flex;
  align-items: center;
}

nav a {
  transition: 0.2s;
  margin: 0% 5%;
  text-decoration: none;
  color: black;
}

nav a:hover {
  font-weight: bold;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.right {
  background: conic-gradient(from var(--angle) at 120% 45%, #20BF55 , #01BAEF, #20BF55);
  animation: spin 6s infinite;
  /* background-color: red; */
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  display: flex;

}

@keyframes spin {
  from {
    --angle: 0deg;
  } to {
    --angle: 360deg;
  }
}

#left-container{
  text-align: left;
  width: 60%;
}

h1 {
  font-size: 3em;
  margin: 0;
}

#learn-more {
  padding: 3% 5%;
  background-color: #73B075;
  color: white;
  text-decoration: none;
  border-radius: 7px;
  transition: 0.3s;
}

#learn-more:hover {
  background-color: #547e55;
  /* font-weight: 600; */
}


/* featued article */
.carouselContainer {
  width: 70vw;
  height: fit-content;
  border-radius: 20px;
  box-shadow: 0 0 10px 3px rgba(0,0,0,0.3);
  margin-bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("https://thumbs.dreamstime.com/b/tropical-green-leaves-frame-white-background-various-palm-fern-types-tropical-green-leaves-frame-white-background-357542983.jpg") cover no-repeat;
}

.featured h2 {
  margin-bottom: 5%;
}



.carouselContainer button {
  background: url(/public/right.png) no-repeat;
  background-size: cover;
  background-color: white;
  width: 20px;
  height: 20px;
  border: none;
  transition: 0.3s;
}

.article a {
  text-decoration: none;
  color: inherit;
}

.carouselContainer button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.carouselContainer button:hover {
  scale: 1.1;
}

.article {
  text-overflow: ellipsis;
  width: 30%;
  max-height: 25em;
  padding: 2% 5%;
  margin: 1%;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
}

.article p{
  overflow-y: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.article:hover{
  color: rgb(70, 70, 70);
  background-color: rgba(0,0,0,0.05);
}

.article img {
  max-width: 100%;
  /* height: 50%; */
}

.carousel {
  width: 90%;
  height: 100%;
  /* padding: 0 2%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* aboutus */


.card {
  background-color: #d9d9d9;
  width: 20vw;
  height: fit-content;
  margin: 0 1vw;
  border-radius: 20px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
  font-size: 1.1rem;
}

.cards {
  display: flex;
  flex-direction: row;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #EAF9EB;
}

.header {
  background-color: #547e55;
  color: white;
  /* height: 100%; */
  top: 0;
  border-radius: 20px 20px 0 0;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  width: 100%;
}
.header h3 {
  margin: 0;
  padding: 6% 0;
}

.about-text {
  width: 80%;
  text-align: left;
}


/* articles page */

.articles-main {
  display: flex;
  padding: 0 5%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.todays-article-section, .articles-carousel {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.todays-article-section img {
  width: 50%;
}

.todays-article {
  text-align: center;
}

.todays-article a {
  color: black;
  text-decoration: none;
}

.articles-carousel {
  padding-top: 15%;
  border-left: 1px solid grey;
  height: 50%;
  width: 50%;
  overflow-y: scroll;
  margin-left: 3%;
}

.articles-carousel div {
  height: 50%;
  width: auto;
  overflow: hidden;
  transition: 0.2s;
}

.articles-carousel div:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.articles-carousel div img {
  height: 40%;
  padding: 5%;
}

.articles-carousel p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.itinerary-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.itinerary {
  flex-grow: 1;
  max-width: 20%;
  padding: 2%;
  border-radius: 10px;
  background-color: #c6e2f067;
  color: #105c7d;
  box-shadow: #70838b 0px 0px 10px;
  margin: 2%;
  /* height: max-content; */
}